@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Web Applikation zur Studiengangsverwaltung</h1>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <p>Mit dieser App können Kurse verwaltet werden.</p>
            <p>Es ist möglich Studenten und Dozenten anzulegen und diese in Kurse einzuschreiben.</p>
            <p>Die App verwendet keine Benutzerauthentifizierung.</p>
            <p>Die gespeicherten Daten sind nur zu Demonstrationszwecken gedacht und stellen keine realen personenbezogenen Daten dar.</p>
            <p><a asp-page="./About">Weitere Informationen zur App.</a></p>
        </div>
    </div>
</div>
