@page
@using CourseManagement.Models
@model CourseManagement.Pages.Courses.CreateModel

@{
    ViewData["Title"] = "Kurs anlegen";
}

<h1>Anlegen von Kursen</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course.Title" class="control-label"></label>
                <input asp-for="Course.Title" class="form-control" />
                <span asp-validation-for="Course.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Description" class="control-label"></label>
                <textarea asp-for="Course.Description" class="form-control"></textarea>
                <span asp-validation-for="Course.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Term" class="control-label"></label>
                <select asp-for="Course.Term" class="form-control" asp-items="Html.GetEnumSelectList<TermType>()">
                    <option>Bitte Semester auswählen...</option>
                </select>
                <span asp-validation-for="Course.Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.StartDate" class="control-label"></label>
                <input asp-for="Course.StartDate" class="form-control" />
                <span asp-validation-for="Course.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.EndDate" class="control-label"></label>
                <input asp-for="Course.EndDate" class="form-control" />
                <span asp-validation-for="Course.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kurs speichern" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Zurück zur Übersicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
